/*body{
    font-family: 'Roboto', sans-serif;
}
.button {
    background-color: white;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #04AA6D;
}

.button1:hover {
    background-color: #04AA6D;
    color: white;
}

.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

.button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}

.button3:hover {
    background-color: #f44336;
    color: white;
}

.button4 {
    background-color: white; 
    color: black; 
    border: 2px solid #9d00ff;
}

.button4:hover {
    background-color: #9d00ff;
    color: white;
}

input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }*/
  body{
    color:white;
    background-color:black;
    font-family: 'Roboto', sans-serif;
}
button{
    color:white;
    background-color:white;
    border-radius:25px;
    transition-duration: 0.4s;
    border:solid;
}
.button1{
    color:black;
    border-color:red;
}
.button1:hover{
    color:white;
    background-color:red;
}
.button2{
    color:black;
    border-color:blue;
}
.button2:hover{
    color:white;
    background-color:blue;
}
.button3{
    color:black;
    border-color:rgb(21, 255, 0);
}
.button3:hover{
    color:white;
    background-color:rgb(21, 255, 0);
}
.button4{
    color:black;
    border-color:rgb(201, 17, 201);
}
.button4:hover{
    color:white;
    background-color:rgb(201, 17, 201);
}
input[type=text]{
    color:black;
    background-color:white;
    border-radius:25px;
    border-color:black;
}
